/* Colores corporativos */
:root {
    --primary-green: #b4dd51; /* Verde */
    --primary-blue: #029ca6; /* Azul */
    --primary-aqua: #9ad0ae; /* Verde agua */
    --text-color: #333; /* Texto oscuro */
    --error-color: #e63946; /* Rojo para errores */
    --success-color: var(--primary-green); /* Verde para éxito */
    --background-color: #f4f7f9; /* Fondo claro */
  }
  
  .activation-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: var(--text-color);
  }
  
  .activation-title {
    text-align: center;
    color: var(--primary-blue);
    margin-bottom: 20px;
  }
  
  .activation-form {
    display: flex;
    flex-direction: column;
  }
  
  .activation-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .activation-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .activation-input:focus {
    border-color: var(--primary-aqua);
    outline: none;
  }
  
  .activation-button {
    padding: 10px 20px;
    background-color: var(--primary-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .activation-button:hover {
    background-color: var(--primary-green);
  }
  
  .activation-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }
  
  .activation-message.success {
    color: white;
    background-color: var(--success-color);
  }
  
  .activation-message.error {
    color: white;
    background-color: var(--error-color);
  }
  