.table-responsive {
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 15px;
    padding: 75px;
    margin-top: 100px;
    scrollbar-color: #09f;
}

.py-4 h2{
    color: #fff;
    text-align: center;
    position: relative;
    top: 50px;
}

.EstadoContainer {
    margin-bottom: 500px;
}