.table-responsive {
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 15px;
<<<<<<< HEAD
    padding: 0;
    top: 10px;
    margin-top: 10px;
=======
    padding: 75px;
    margin-top: 100px;
>>>>>>> 45bbbf7444208869bb00213b96068526df7b7002
    scrollbar-color: #09f;
}

.py-4 h2{
    color: #fff;
    text-align: center;
    position: relative;
    top: 50px;
}

<<<<<<< HEAD
.container-cancel{
    margin-top: 20px;
    text-align: center;
=======
.EstadoContainer {
    margin-bottom: 500px;
>>>>>>> 45bbbf7444208869bb00213b96068526df7b7002
}
