#dashboard-header.header {
    transition: all 0.5s;
    z-index: 997;
    height: 75px;
    background-color: #8b82822c;
    backdrop-filter: blur(5px);
    box-shadow: 0px 2px 20px rgba(1, 42, 112, 0.733);
    background-size: 300% 300%;
    animation: gradientAnimation 6s ease infinite;
    padding: 0 20px;
    color: white;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
}

/* Search Bar and Toggle Sidebar Button */
.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 15px;
    cursor: pointer;
    color: #012970;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Main Container */
/* .parent {
    position: relative;
    min-height: 500px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/* Card Element */
.my-5 {
    color: #333;
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 1000px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    top: 300px;
    padding: 20px;
}

/* --- Responsividad --- */

/* Tablets y pantallas medianas (max-width: 768px) */
@media (max-width: 768px) {
    .header {
        height: auto; /* Ajusta la altura si el contenido cambia */
        padding: 10px; /* Espaciado interno menor */
    }

    .header-nav ul {
        flex-direction: column; /* Apila los elementos del nav */
        align-items: flex-end; /* Alinea los elementos al lado derecho */
    }

    .header-nav .nav-icon {
        font-size: 18px; /* Reduce el tamaño del icono */
    }

    .header-nav .nav-profile img {
        max-height: 30px; /* Reduce el tamaño del avatar */
    }

    .logo img {
        max-width: 100px; /* Ajusta el tamaño del logo */
    }


    .my-5 {
        padding: 30px;
        top: 450px;
        width: 700px;
    }

    .parent {
        min-height: 400px;
    }
}

/* Móviles pequeños (max-width: 480px) */
/* @media (max-width: 480px) {
    .header {
        height: 60px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header .toggle-sidebar-btn {
        font-size: 20px;
    }

    .my-5 {
        padding: 20px;
        max-width: 75%;
        border-radius: 10px;
        left: 80px;
        top: 450px;
    }

    .parent {
        min-height: 300px;
    }
} */
