.header{
    transition: all 0.5s;
    z-index: 997;
    height: 70px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    background: transparent;
    background-color: #cecece57;
    backdrop-filter: blur(5px);
    box-shadow: 0px 2px 20px rgba(1,41,112,0.1);
    background-size: 300% 300%;
    animation: gradientAnimation 6s ease infinite;
    padding: 0 20px;
    color: white;
    padding-left: 50px;
}

@keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
/* Search Bar */
/* Toggle Sidebar Button */
.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 15px;
    cursor: pointer;
    color: #012970
}