.header-nav ul{
    list-style: none;
}

.header-nav > ul{
    margin: 0;
    padding: 0;
}



.header-nav .nav-icon {
    font-size: 25px;
    color: #ffffff;
    margin-right: 50px;
    position: relative;
}

.header-nav .nav-profile {
    color: #ffffff;
}

.header-nav .nav-profile img {
    max-height: 45px;
}

.header-nav .nav-profile span{
    font-size: 18px;
    font-weight: 600;
}

.header-nav .badge-number{
    position: absolute;
    inset: -5px -15px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 2px 7px;
}


.header-nav .notifications{
    inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
}

.header-nav .notifications .notification-item i {
   margin: 0 20px 0 10px;
   font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
    font-size: 13px;
    margin-bottom: 5px;
    color: #919191;
}

.header-nav .notifications .notification-item:hover {
    background-color: #f6f9ff;
}

.header-nav .notifications .dropdown-footer{
    font-size: 15px;
    margin-right: 10px;
    line-height: 0;
    padding-left: 65px;
}

.header-nav .messages{
    inset: 8px -15px auto auto !important;
}

.header-nav .messages .messages-item{
    padding: 15px 10px;
    transition: 0.3s;
}

.header-nav .messages .messages-item a{
    display: flex;
}

.header-nav .messages .messages-item img{
    margin: 0 20px 0 10px;
    max-height: 40px;
}

.header-nav .messages .messages-item h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #444444;
}

.header-nav .messages .messages-item p{
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
}

.header-nav .messages .messages-item:hover{
    background-color: #f6f9ff;
}

.header-nav .messages .dropdown-footer{
    font-size: 15px;
    margin-right: 10px;
    line-height: 0;
    padding-left: 65px;
}

.header-nav .nav-profile{
    min-width: 240px;
    padding-bottom: 0;
    top: 8px !important;
}

.header-nav .profile .dropdown-header h6{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
    color: #bbbbbb;
    padding-left: 65px;
}

.header-nav .profile .dropdown-header span{
    font-size: 15px;
    padding-left: 40px;
}

.header-nav .profile .dropdown-item{
    font-size: 15px;
    margin-right: 10px;
    line-height: 0;
}

.header-nav .profile .dropdown-item i{
    margin-right: 30px;
    font-size: 20px;
    line-height: 0;
}

.header-nav .profile .dropdown-item:hover{
    background-color: #333;
    color: #fff;
}

.header-nav .profile .dropdown-footer{
    font-size: 50px;
    margin-right: 10px;
    line-height: 0;
}

