.sidebar{
    position: fixed;
    top: 76px; /* Mantén la posición consistente con el diseño */
    left: 0;
    width: 250px;
    z-index: 996;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    backdrop-filter: blur(50px); /* Difumina el fondo */
    color: white; /* Texto blanco para contraste */
    transition: all 0.3s ease-in-out; /* Garantizar movimiento suave */
}

#main, #footer {
    transition: margin-left 0.3s ease-in-out;
}

@media (min-width: 300px) {
    .sidebar{
        left: -300px;
        transition: all 0.3s ease-in-out; /* Movimiento suave al esconder */
    }

    .toggle-sidebar .sidebar{
        left: 0;
    }
    #main, #footer {
        margin-left: 0;
    }
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #9ad0ae; /* Scroll consistente */
}

@media (min-width: 1200px) {
    #main, #footer {
        margin-left: 300px;
    }
}
@media (min-width: 1199px) {
    .toggle-sidebar .sidebar{
        left:0;
    }
}

@media (min-width: 1200px) {
    .toggle-sidebar #main,
    .toggle-sidebar #footer{
        margin-left: 0;
    }

    .toggle-sidebar .sidebar{
        left: 0px;
    }
}

.sidebar-nav {
    padding: 0;
    margin-top: 40px;
    list-style: none;
}

.sidebar-nav li {
    padding: 0;
    margin: 10px;
    list-style: none;
}

.sidebar-nav .nav-heading{
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: white; /* Texto blanco */
    background: transparent; /* Fondo transparente */
    transition: all 0.3s ease-in-out;
    padding: 10px 15px;
    border-radius: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.sidebar-nav .nav-link i{
    font-size: 20px;
    margin-right: 15px;
    color: #ffffff;
}

.sidebar-nav .nav-link.collapsed{
    background: #fff;
    color: #012970;
}

.sidebar-nav .nav-link.collapsed i{
    color: #899bbd;
}

.sidebar-nav .nav-link:hover{
    background: rgba(255, 255, 255, 0.2); /* Hover con fondo más claro */
    color: white; /* Texto blanco */
}

.sidebar-nav .nav-link:hover i{
    color: #fff;
}

.sidebar-nav .nav-link .bi-chevron-down{
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down{
    transform: rotate(180deg);
}

.sidebar-nav .nav-content{
    padding: 5px 0 0 0;
    margin: 0;
}

.sidebar-nav .nav-content a{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
}

.sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
    color: #fff;
}

