@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  scroll-behavior: smooth;
  --primary: #4154f1;
  --secondary: #717ff5;
  --bgColor: #f6f9ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bgColor);
  color: #444444;
  }
a{
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  color: var(--secondary);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Nunito', sans-serif;
}




form {
    max-width: 400px; 
    margin: 20px auto; 
    padding: 20px; 
    /*border: 1px solid #ffffff;*/
    border-radius: 8px; 
    /*background-color: #f8f9fa; /*Estilo de fondo, modifica globalmente tanto dashboard como login*/
    box-shadow: 10px rgba(0, 0, 0, 0.1); 
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"] {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    box-sizing: border-box; 
  }
  
  button {
    background-color: #007bff; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
  }
  
  button:hover {
    background-color: #0056b3; 
  }