body{
  background: #000000;
  color: rgb(251, 251, 251);
}

.app-layout {
  display: flex;
}

/* Estilos para el Sidebar */
.sidebar {
  width: 250px;
  background-color: #2e2e2e;
  color: #fff;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #fff;
}

h3 {
  font-size: 1.2em;
  margin: 0;

}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 1em;
  display: block;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: #444;
  color: #fff;
}
